# Core Libraries
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2

# PyTorch (CPU version)
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0

# Jupyter Notebook Environment
jupyter==1.0.0
notebook==7.1.2
matplotlib==3.9.0
